---
// src/components/Footer.astro
---

<footer class="site-footer">
  <div class="shell site-footer__inner">
  <p class="site-footer__text site-footer__text--small">
    Have an update or a new business to add?
    <a class="site-footer__link" href="mailto:hello@pennwyn.com">
      Email us <span aria-hidden="true">✉️</span>
      <span class="sr-only">at hello@pennwyn.com</span>
    </a>
  </p>

  <p class="site-footer__text site-footer__text--tiny">
    Denver Black Guide is a subsidiary of Penniman Wynfield Studios.
  </p>
</div>

</footer>
